{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        // "useESModules": true,
        "corejs": {
          "version": 3,
          "proposals": true
        } // 指定 runtime-corejs 的版本3
      }
    ],
    "@babel/plugin-proposal-class-properties",
    ["import", 
      { 
        "libraryName": "antd", 
        "style": true 
      }
    ],
    "react-hot-loader/babel"
  ],
  "presets": [ 
    [
      "@babel/preset-env", 
      {
        "targets": {
          // "node": "current",
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ], 
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],

  // 测试
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
