{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3 // 指定 runtime-corejs 的版本3
      }
    ],
    "@babel/plugin-proposal-class-properties",
    ["import", 
      { 
        "libraryName": "antd", 
        "style": true 
      }
    ],
    "react-hot-loader/babel"
  ],
  "presets": [ 
    [
      "@babel/preset-env", 
      {
        "useBuiltIns": "usage", // polyfill 按需加载
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ], 
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}
